/* set the font for the overall website */

/* main font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*:not(nav) {
    font-family: 'Ubuntu', 'Source Sans 3';
    margin: 0px;
}

p{
    font-size: 13px;
}

#sidebar {
    display: none;
}

.sun, .moon {
    display: none;
    filter: invert(1);
}

#content {
    display: none;
}

:focus-visible {
    border: solid 5px #F5D76E;
}

/* ============================================================================== */
/* ============================================================================== */
/* colors */
/* dark:  rgb(51, 71, 74); */
/* light:  rgb(119, 148, 152); */
/* white: rgb(224, 231, 233) */
/* red: rgb(152, 48, 48) */
/* yellow: color: #F5D76E;; */
/* olive green: rgb(115, 130, 60); */
/* moss: rgb(95, 110, 55); */
/* sage green: rgb(175, 190, 165); */
/* gold: rgb(175, 140, 40); */
/* light yellow: rgb(90, 120, 140); */

/* ============================================================================== */
/* ============================================================================== */
/* index page styling */

body.main main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(51, 71, 74);
    color: rgb(224, 231, 233);
}

body.main {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;  
    gap: 10px;
    background-color: rgb(51, 71, 74);
    color: rgb(224, 231, 233);
    font-size: 13px;
    justify-content: center;
}


nav a,
nav a:visited {
    color: rgb(224, 231, 233);
    text-decoration: none;
}

img {
    max-width: 100%
}

.main h1 {
    font-family: "Tektur";
    font-size: clamp(60px, 8vw, 170px);
    transform-origin: top;
    transform: scaleY(1.5);
    margin: 0 0 1.1em 0;
    max-height: 90%;
    overflow-wrap: break-word;
}

nav p {
    margin-top: 10px;
    font-size: clamp(14px, 1vw, 20px);
}


.main h1:hover {
    color: #F5D76E;
}

.main h1 .line {
    display: block;
    line-height: 0.8;
}

footer {
    margin-top: auto; 
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    background-color: rgb(51, 71, 74); 
}

footer p {
    grid-column: 1/3;
    color: rgb(224, 231, 233);
    text-align: center;
    font-size: 13px;
}


footer img {
    width: 20px;
    filter: invert(1);
}

footer a:first-of-type {
    justify-self: end;
}

footer a:last-of-type {
    justify-self: start;
}

/* ============================================================================== */
/* ============================================================================== */
/* password styling */
/* Main container - centers the box on the page */
main.password {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(51, 71, 74);
}

/* Password box styling */
#password-box {
    background-color: rgb(224, 231, 233);
    color: rgb(51, 71, 74); 
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    border-radius: 10px;
    align-items: center;
}

#password-box label {
    font-family: 'Ubuntu', 'Source Sans 3';
    font-size: 30px;
    margin: 0;
    text-align: center;
}

#password-box input,
#password-box button {
    width: 50%;
}

#password-box input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid rgb(119, 148, 152);
    border-radius: 5px;
    box-sizing: border-box;
}

#password-box button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: rgb(53, 67, 68);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#password-box button:hover {
    background-color: rgb(51, 71, 74);
}

#error {
    color: rgb(152, 48, 48);
    display: none;
    margin: 0;
    text-align: center;
}


/* ============================================================================== */
/* ============================================================================== */
/* nav bar styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(51, 71, 74);
    z-index: 1000;
    box-sizing: border-box;
}
.off-screen {
    background-color: rgb(119, 148, 152);
    top: -150%;
    right: 0;
    transition: top 0.6s ease;
    z-index: 999;
    display: none;
    position: fixed;
    flex-direction: column;
    padding: 100px 20px 20px;
}

.off-screen.active {
    display: flex;
    top: 0;
    gap: 10px;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(224, 231, 233);
    border-radius: 25px;
    display: block;
    transition: 0.3s ease;
}


.ham-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

.nav-logo {
    height: 50px;
    width: 50px;
    object-fit: contain;
    cursor: pointer;
}

.nav-logo.logo {
    filter: invert(1);
}

.nav-button {
    padding: 0.6rem 1.5rem;  
    background: #F5D76E;
    border: none;
}

.nav-button:hover {
    background: #cbb7b4;
}

#menu-toggle {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}


/* ============================================================================== */
/* ============================================================================== */
/* other pages */

main.work-page {
    background-color: rgb(224, 231, 233);
    padding-top: 80px;
}

.work-page h1 {
    text-align: center;
    padding: 30px 0;
}

.grouping {
    text-align: center;
    padding: 30px 0;
}

.work-page .grouping h1  {
    padding: 0;
}

.work-page a {
    color: rgb(51, 71, 74);
    text-decoration: none;
}

#distinct-link {
    color: rgb(20, 40, 70);
    text-decoration: underline;
}

#distinct-link:hover{
    color: rgb(153, 50, 50);
}

.grid-view {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-view-work > *:nth-child(3n) {
    margin-bottom: 50px;
}

.grid-view2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.grid-view2 h2 {
    margin-bottom: 10px;
}

.grid-view3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.grid-view3 > p {
    margin-bottom: 50px;
}

.grid-view3 h2, 
.grid-view3 h4 {
    font-size: 16px;
    color: rgb(153, 50, 50);
}

.work-page .grid-view3 h3 {
    font-size: 14px;
}


.grid-view-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


figcaption {
    font-size: 13px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main.work-page {
    flex: 1;
    padding: 100px 5% 20px 5%;
}


.grid-view-class {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.grid-view-class h2 {
    font-size: 20px;
    grid-column: 1/3;
    text-align: center;
}

p.language {
    color: rgb(152, 48, 48);
}

/* ============================================================================== */
/* ============================================================================== */
/* about page  */

.grid-view-profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-view-profile h1 {
    font-size: 21px;
    margin-top: 30px;
    text-align: left;
    padding: 10px 0;
}
button.profile {
    background-color: rgb(119, 148, 152);
    border-radius: 40px;
    border-color: rgb(51, 71, 74);
    height: 150%;
}

.work-page.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* align-items: end; */
    justify-items: center;
}

.profile img {
    filter: sepia(0.7) brightness(0.95) saturate(0.7) hue-rotate(-10deg);
    grid-column: 1/3;
}

.profile div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile h2 {
    font-weight: bold;
    color: rgb(51, 71, 74);
    margin-top: 14px;
}

.profile div:not([class]) p:nth-child(4n+2) {
    font-size: 12px;
    color: rgb(152, 48, 48);
}
.profile div p:nth-child(4n+3) {
    font-size: 10px;
    color: rgb(152, 48, 48);
}
.profile div p:nth-child(4n+4) {
    color: rgb(51, 71, 74);
}



/* ============================================================================== */
/* ============================================================================== */
/* ipad size page  */

@media screen and (min-width: 650px) {
    .off-screen {
        height: auto;
        max-width: 300px;
    }
    
    .grid-view-work {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-items: center; */
    }
    
    .grid-view-work > *:nth-child(3n) {
        margin-bottom: 0px;
        align-self: center;
        margin-left: 10px;
    }
    .grid-view-work h2 {
        grid-column: 1/3;
        justify-self: center;
    }

    .grid-view-work h2 {
        margin: 15px 0 10px 0;
    }

    .work-page h3  {
        justify-content: end;
        font-size: 16px;
    }

    .grid-view2 {
        grid-template-columns: 1fr 1fr;
    }
    .grid-view {
        grid-template-columns: 1fr 1fr;
    }
    .profile img {
        filter: sepia(0.7) brightness(0.95) saturate(0.7) hue-rotate(-10deg);
        grid-column: 1;
        width: 90%;
    }
    

    .profile div p:nth-child(4n+1) {
        font-size: 21px;
    }

    .profile div:not([class]) p:nth-child(4n+2), 
    .profile div p:nth-child(4n+3), 
    .profile div p:nth-child(4n+4)  {
        font-size: 14px;
    }

    .profile h3 {
        font-size: 21px;
    }

    .grid-view-profile .grid-view p:first-of-type {
        font-size: 16px;
        margin: 0 15px;
        align-self: center;
        color: rgb(75, 90, 45); 
    }

    .work-desc {
        display: grid;
        grid-template-columns: 0.5fr 0.3fr 1fr;
        gap: 10px;
    }

    .work-desc h2{
        font-size: 16px;
    }

    .work-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .grid-view3 img {
        max-width: 80%;
    }
 
}

/* ============================================================================== */
/* ============================================================================== */
/* laptop size page  */

@media screen and (min-width: 1000px) {
    .ham-menu {
        display: none;
    }

    .off-screen {
        display: none;
    }

    .off-screen.active {
        display: flex;
        top: 0;
        gap: 10px;
    }

    
    main.work-page {
        flex: 1;
        padding: 100px 5% 20px 25%;
    }

    nav {
        align-items: start;
        position: fixed;
        width: clamp(200px, 20%, 300px);
        height: 100vh;
    }


    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 30px 20px 0 20px;
        justify-items: center;
    }

    .sun, .moon {
        display: block;
    }

    .sidebar {
        grid-column: 1/3;
        display: flex;
    }

    .sidebar p {
        color: rgb(224, 231, 233);
        padding-top: 10px;
        padding-left: 20px;
    }

    .sidebar p > a:hover, 
    .sidebar p > a.current-page {
        color: #F5D76E;
        font-weight: bolder;
    }
    
    body:not(.main) nav > img.sun {
        display:none;
    }
    
    body:not(.main) #sidebar {
        display: block;
    }
    
}

