/* set the font for the overall website */

/* main font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* sub font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu', 'Source Sans 3';
}


/* colors */
/* dark:  rgb(51, 71, 74); */
/* light:  rgb(119, 148, 152); */
/* white: rgb(224, 231, 233) */


body.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    height: 100vh;
    background-color: rgb(51, 71, 74);
    color: rgb(224, 231, 233);
    font-size: 13px;
}

.main a,
.main a:visited {
    color: rgb(224, 231, 233);
    text-decoration: none;
}

img {
    max-width: 100%
}

.main h1 {
    font-size: 70px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

footer p {
    grid-column: 1/3;
}

footer img {
    width: 10%;
    filter: invert(1);
}

footer img:first-of-type {
    justify-self: end;
}

footer img:last-of-type {
    justify-self: start;
}