* {
  margin: 0;
}

.slider {
  position: relative;
  width: 100%;
  height: auto;
}

.slider-item {
  /* position: absolute; */
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-size: 100% auto; 
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  z-index: 0;
}

.slider-panel {
  /* position: absolute; */
  position: relative;
  bottom: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: black;
  z-index: 20;
}

.slider-panel__navigation {
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  text-align: center;
}

.slider-panel__navigation i {
  margin: 0 3%;
  font-size: 15px;
}

.slider-panel__navigation i:hover, .slider-panel__navigation i:active {
  color: black;
  cursor: pointer;
}

.slider-panel__controls {
  margin: 0 auto;
  padding: 10px;
  width: 70%;
  text-align: center;
}

.slider-panel__controls i {
  margin: 0 4%;
  font-size: 40px;
}

.slider-panel__controls i:hover, .slider-panel__controls i:active {
  color: rgb(119, 148, 152);
  cursor: pointer;
}

.active {
  z-index: 10;
  -webkit-animation: 0.2s blur ease-in;
          animation: 0.2s blur ease-in;
}

@-webkit-keyframes circle {
  0% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  100% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
}

@keyframes circle {
  0% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  100% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
