/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Raleway:ital,wght@0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: auto;
}

body {
  font-family: 'Lilita One', sans-serif;
  padding-top: 10vh;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 10vh;
  position: in;
}

html {
  scroll-behavior: smooth;
}

h2 { 
  color: rgb(51, 71, 74);
  font-family: "Nova Mono";
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;
}


.tool-pill {
  color: white;
  background-color:rgb(51, 71, 74);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  padding: 5px 10px;
  margin-bottom: 15px;
  margin-right: 20px;
  border-radius: 10px;
  white-space: nowrap;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%; 
  height: 100%;
}



/* TRANSITION */

a, .btn {
  transition: all 300ms ease;
}

img {
  width: 100%;
}


/* SECTIONS */

section {
  padding-top: 4vh;
  padding-bottom: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.details-container {
  padding: 1rem;
  flex: 1;
  
}

.section-container {
  gap: 4rem;
  height: 80%;
  justify-content: center;
    align-content: center;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}


.article-container {
  display: flex;
  text-align: initial;
  flex-direction: column;
  gap: 2.5rem;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* WORK SECTION */

#work {
  position: relative;
}

.color-container {
  background: rgb(51, 71, 74);
}

img {
  pointer-events: none;
}

.work-img {
  border-radius: 0rem;
  width: 100%;
  height: 100%;
  
}

.work-title {
  margin: 1rem;
  color: rgb(51, 71, 74);
}

.container {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.container img {
  width: 100%;
  height: auto;
}

.subtitlecontainer {
  margin-top: 10px;
}


/* CULTURE PAGE */
.grid-item-culture {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px; 
  align-items: center;
}

/* PILL */

.pill-title {
  color: white;
  background-color:#3f6d72;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 15px;
  margin-right: 20px;
  border-radius: 10px;
  white-space: nowrap;
  display: grid;
}

.pill-sub {
  color: white;
  background-color:rgb(51, 71, 74);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  padding: 5px 10px;
  margin-bottom: 15px;
  margin-right: 20px;
  border-radius: 10px;
  white-space: pre;
}


/* EXPERIENCE GRID */

.grid-container-classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  max-width: 1200px; 
  margin: 0 auto; 
}

.grid-item-classes {
  padding: 20px;
  border: 1px solid rgb(119, 148, 152);
  border-radius: 20px;
}

#computer-science {
  grid-column: span 2; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#cs-left-column, #cs-right-column {
  gap: 30px;
}
#statistics, #mathematics {
  padding: 20px;
}

.tool-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  flex-wrap: wrap;
}


/* GENERAL */

.title {
  font-size: 3rem;
  text-align: center;
  color: rgb(51, 71, 74);
}

p {
  color: rgb(51, 71, 74);
  font-family: "Abel", sans-serif;
}


/* GRID SETTING */

.grid-container { 
  display: grid;
  grid-template-rows: repeat(3, 1);
  grid-template-columns: 1fr;
  gap: 40px;
}

.grid-item-work { /* WORK PAGE */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; 
  align-items: center;
}

.grid-item-art { /* ART PAGE */
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 10px; 
  align-items: center;
}


/* DESKTOP NAV */

.title:hover {
  text-decoration: none;
}

nav, .nav-links {
list-style: none;
font-size: 1.2rem;
padding-left: 5rem;
padding-right: 5rem;
}

.nav-left {
  width: 33%;
  float:left;
}

.nav-center {
  width: 33%; 
  float:left; 
  text-align: center;
}

.nav-right {
  width: 33%; 
  float:right; 
  text-align: right;
}

nav {
justify-content: space-around;
align-items: center;
height: 7vh;
}

a {
color: rgb(51, 71, 74);
text-decoration: none;
text-decoration-color: white;
}

a:hover {
color: rgb(110, 141, 200);
text-decoration: underline;
text-underline-offset: 1rem;
}


.logo:hover {
cursor: default;
}



/* ABOUT SECTION */

.about {
  justify-content: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  flex: 1;
}

img.profile {
  width: 20%;
  border-radius: 40%;
  /* display: block;
  margin: 0 auto; */
}

.container#about {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20vh 0 20vh;
}

.container#about p {
  flex: 1;
  font-size: large;
  font-family: "Nova Mono";
  line-height: 1.5;
}

.container#about img {
  flex: 1;
  max-width: 300px;
  height: auto;
}

/* GALLERY SECTION FOR DIGITAL PAGE */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* FOOTER SECTION */

footer {
  
  margin: 1rem;
  font-size: small;
  color: white;
  padding: 20px;
  bottom: 0;
}

footer p {
  text-align: center;
  font-family: 'Lilita One', sans-serif;
  color: rgb(51, 71, 74);
}

.footer {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  padding-top: 2rem;
  text-align: center;
  clear: both;
}

/* SLIDESHOW FOR CULTURE PAGE */
* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: contents;
}


.prev, .next { /* BUTTONS */
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next { /* NEXT BUTTON */
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* ART SECTIONS */
.subtitleart { /*subtitle under work page title*/
  padding-left: 3em;
  font-size: 1em;
  color: rgb(51, 71, 74);
  text-align: left; 
  font-family: "Abel", sans-serif;
  font-size: medium;
}

.color-change {
  font-style: italic; 
  font-size: 0.8em; 
  color: #ff9100;
}


.container-art {
  width: 100%; 
  max-width: 100%;
  text-align: left;
}

.container-art img {
  width: 100%; 
  height: auto; 
}


/* WORK PAGE */

.subtitle { 
  padding-left: 3em;
  font-size: 1em;
  color: rgb(51, 71, 74);
  text-align: left; 
  font-family: "Abel", sans-serif;
  font-size: medium;
  font-style: italic;
}


.worklink:hover {
  color: rgb(58, 146, 187);
  text-decoration: none;
  font-weight: bold;
  }


.worktitle {
  color: rgb(51, 71, 74);
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Lilita One', sans-serif;
}


.worksubtitle {
  color: rgb(51, 71, 74);
  font-size: 1.5em;
  font-family: "Abel", sans-serif;
  text-align: center;
}

.titlestyle {
  font-family: "Abel", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
}
  


/* MEDIA */

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
