/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Raleway:ital,wght@0,700;1,600;1,700&display=swap');

/*
* main colors
* rgb(51, 71, 74); dark
* rgb(108, 122, 137);
* rgb(163, 198, 196);
* rgb(224, 231, 233); light
*/

* {
    margin: 0;
    padding: 0;
    background-color: rgb(51, 71, 74);
  }

body {
  font-family: 'Lilita One', sans-serif;
  padding-left: 10rem;
  padding-right: 5rem;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(108, 122, 137);
}

/* TRANSITION */

a, .btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */


a:hover {
    color: rgb(108, 122, 137);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(163, 198, 196);
}
  
.nav-links {
  dgap: 2rem;
  list-style: none;
  font-size: 1rem;
  line-height: 2rem;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

a {
  color:rgb(163, 198, 196);
  text-decoration: none;
  text-decoration-color: rgb(224, 231, 233);
}

.title {
  font-size: 5rem;
  text-align: left;
  color: rgb(224, 231, 233);
}

#socials-container {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */
img {
  cursor: pointer;
  height: 1rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  filter: invert(90%) sepia(18%) saturate(307%) hue-rotate(124deg) brightness(82%) contrast(90%);
}

section {
    height: 20vh;
}

#nav-links {
    padding: 0;
}




.wave{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  padding-left: 20rem;
  transform: translate(-50%, -50%);
}

label{
  font-size: 50px;
  font-weight: 500;
  color: silver;
  cursor: pointer;
}

label span{
  display: inline-block;
  font-size: 50px;
  font-weight: 500;
  transition: 0.2s cubic-bezier(0.68,-0.55,0.265,1.55);
}
label:hover span{
  color: rgb(110, 141, 200);
  transform: translateY(-15px);
}
